<!--
  Generated template for the ModalfiltersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div *ngIf="type === 'menu'">
    <ion-row *ngFor="let menuItem of menuItems" >
        <button ion-item (click)="open(menuItem.id)">{{menuItem.name}}</button>
    </ion-row>
</div>

<div class="filter-doctor-list">
    <ion-row *ngIf="type === 'filter'">
        <ion-row class="view-all-button">
            <ion-label margin-right>
                <b> <button ion-button (click)="selectedDoctor(undefined,'loadAll')">{{'See all' | translate}}</button></b>
            </ion-label>
        </ion-row>
        <ion-list>
            <button ion-item *ngFor="let item of doctorsList" (click)="selectedDoctor(item,'load')"
            [style.background]="item.color">
                <ion-icon name="checkmark" *ngIf="filteredId === item.id"></ion-icon>
                <span  class="doctors-rowdata">
                    {{ item.name }} </span>
            </button>
        </ion-list>
    </ion-row>
</div>
