.help-header .toolbar-background-md{
    background: #004D99;
}
.help-header button, .help-header .toolbar-title {
    color: #fff;
}
.help-display-content {
    text-shadow: 2px 2px 5px #fff; 
    font-size: 20px;
    color:#004D99;
    vertical-align: inherit;
}