<!--
  Generated template for the ModalseepricesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="patient-header">
    <ion-navbar>
        <ion-title>{{ 'Datos del paciente' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">{{ 'Close' | translate }}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding *ngIf="patientdetail">
    <div class="patient-img">
        <img class="img-center" [src]="api.ImageUrl+patientdetail.image_profile" />
    </div>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Nombres' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.first_name}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Apellidos' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.last_name}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'DNI' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.dni}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Email' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.email}}</p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Teléfono' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.cel_phone}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Fecha de nacimiento' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.birth_date | date: 'dd/MM/yyyy'}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'N° HC' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.referenced_by}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Sexo' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.sex}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Ocupación' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.occupation}}</p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Dirección' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.address}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Distrito' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail?.district?.name}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p class="rowdata">{{ 'Contacto en caso de emergencia' | translate }}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Nombre' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.emergency_contact_name}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p class="rowdata">{{ 'Teléfono' | translate }}</p>
        </ion-col>
        <ion-col col-6>
            <p>{{patientdetail.emergency_contact_phone}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p class="rowdata">{{ 'Antecedentes' | translate }}</p>
        </ion-col>
    </ion-row>
    <div *ngIf="patientdetail?.history">
        <ion-grid>
            <ion-row class="grid-row">
                <ion-col>
                    <b>Fecha</b>
                </ion-col>
                <ion-col>
                    <b>Doctor</b>
                </ion-col>
                <ion-col>
                    <b>Comentario del doctor</b>
                </ion-col>
            </ion-row>
            <ion-row class="grid-row" *ngFor="let data of patientdetail.history">
                <ion-col>
                    {{data.start | date: 'dd/MM/yyyy'}}
                </ion-col>
                <ion-col>
                    {{data.doctor.first_name}} {{data.doctor.last_name}}
                </ion-col>
                <ion-col>
                    {{data.reason.title}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>