<ion-header>
	<link rel="stylesheet" href="build/angular-calendar.css">
	<link rel="stylesheet" href="build/angular-calendar-week-hours-view.scss">
	<ion-navbar no-padding>
		<ion-title>
			<ion-row>
				<ion-col col-4>
				</ion-col>
				<ion-col col-4 text-center padding-top>
					<span *ngIf="!isListView"><span *ngIf="ViewTdyDate">{{ViewTdyDate}}</span><span *ngIf="ViewTdyDate === undefined">{{ _startdayOfWeek }} - {{ _enddayOfWeek }}</span></span>
					<span *ngIf="isListView">{{listViewDate}}</span>
				</ion-col>
				<ion-col col-4 text-right>
					<button ion-button class="menu-icon" (click)="openMenu($event)">
						<ion-icon name="menu"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col col-12 col-md-12>
			<ion-row>
				<ion-col col-4 no-padding>
				</ion-col>
				<ion-col col-4 no-padding>
					<ion-row *ngIf="!isListView">
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="decrement()"
							 [disabled]="prevBtnDisabled">
								<ion-icon name="ios-arrow-back"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-8 no-padding>
							<button ion-button full clear mwlCalendarToday [(viewDate)]="viewDate" (click)="today()">{{'Today' | translate}}</button>
						</ion-col>
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="increment()" [disabled]="nextBtnDisabled">
								<ion-icon name="ios-arrow-forward"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="isListView">
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only (click)="decrement()">
								<ion-icon name="ios-arrow-back"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-8 no-padding>
							<button ion-button full clear mwlCalendarToday [(viewDate)]="viewDate" (click)="today()">{{'Today' | translate}}</button>
						</ion-col>
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only (click)="increment()">
								<ion-icon name="ios-arrow-forward"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col col-4 no-padding>
					<ion-toggle class='pull-right' toggle-class="toggle-assertive" [(ngModel)]="isListView" (ionChange)="loadListAppointmentsData()">
					</ion-toggle>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>

	<div *ngIf="!isListView">

		<iq-calendar-week-hours-view [viewDate]="viewDate" [events]="events" [excludeDays]="excludeDays" [hourSegments]="2" [dayStartHour]="7"
		 [dayEndHour]="21" (eventClicked)="handleEvent($event.event)" (hourSegmentClicked)="hourSegmentClicked($event)" [weekStartsOn]="1"
		 [refresh]="refresh" [locale]="locale">
		</iq-calendar-week-hours-view>

	</div>
	<div *ngIf="isListView">
		<ion-grid>
			<ion-row class="grid-row">
				<ion-col>
					<b>{{ 'Appointment' | translate }}</b>
				</ion-col>
				<ion-col>
					<b>{{ 'Doctor' | translate }}</b>
				</ion-col>
				<ion-col>
					<b>{{ 'Patient' | translate }}</b>
				</ion-col>
				<ion-col>
					<b>{{ 'Reason' | translate }}</b>
				</ion-col>
			</ion-row>
			<ion-row class="grid-row" *ngFor="let data of listevents | paginate: { itemsPerPage: 10, currentPage: p }" (click)="loadAppointment(data.id)">
				<ion-col>
					{{data.time}}
				</ion-col>
				<ion-col>
					{{data.doctor}}
				</ion-col>
				<ion-col>
					{{data.patientName}}
				</ion-col>
				<ion-col>
					{{data.reason}}
				</ion-col>
			</ion-row>
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</ion-grid>
	</div>

</ion-content>