<ion-header>
	<link rel="stylesheet" href="build/angular-calendar.css">
	<link rel="stylesheet" href="build/angular-calendar-week-hours-view.scss">
	<ion-navbar no-padding>
		<ion-title>
			<ion-row>
				<ion-col col-4>
					<button ion-button>
						<ion-icon name="ios-arrow-back"></ion-icon> {{'Back' | translate}}
					</button>
				</ion-col>
				<ion-col col-4 text-center>
					<ion-label>{{'Agenda' | translate}}</ion-label>
				</ion-col>
				<ion-col col-4 text-right>
						<button ion-button class="filter-icon" *ngIf="!isListView" (click)="filterDoctors($event)">
							<ion-icon name="ios-funnel-outline"></ion-icon>
						</button>
						<button ion-button class="menu-icon" (click)="openMenu($event)">
							<ion-icon name="menu"></ion-icon>
						</button>
				</ion-col>
			</ion-row>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col col-12 col-md-12>
			<ion-row>
				<ion-col col-4 no-padding>
					<ion-label class="label-startendday">
						<span *ngIf="!isListView">{{ _startdayOfWeek }} - {{ _enddayOfWeek }}</span>
						<span *ngIf="isListView">{{listViewDate}}</span>
					</ion-label>
				</ion-col>
				<ion-col col-4 no-padding>
					<ion-row *ngIf="!isListView">
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="decrement()"
							 [disabled]="prevBtnDisabled">
								<ion-icon name="ios-arrow-back"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-8 no-padding>
							<button ion-button full clear mwlCalendarToday [(viewDate)]="viewDate" (click)="today()">Today</button>
						</ion-col>
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="increment()" [disabled]="nextBtnDisabled">
								<ion-icon name="ios-arrow-forward"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="isListView">
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only (click)="decrement()">
								<ion-icon name="ios-arrow-back"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-8 no-padding>
							<button ion-button full clear mwlCalendarToday [(viewDate)]="viewDate" (click)="today()">Today</button>
						</ion-col>
						<ion-col col-2 no-padding>
							<button ion-button full clear icon-only (click)="increment()">
								<ion-icon name="ios-arrow-forward"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col col-4 no-padding>
					<ion-toggle class='pull-right' toggle-class="toggle-assertive" [(ngModel)]="isListView" (ionChange)="loadListData()">
					</ion-toggle>
				</ion-col>
				<!-- <ion-col col-12 no-padding class='pull-right'>
					<div *ngIf="!isListView">
						<button *ngIf="doctorName === undefined" ion-button class='pull-right' (click)="filterDoctors($event)">
							<ion-icon name="ios-funnel-outline"></ion-icon>
						</button>
						<button *ngIf="doctorName !== undefined" ion-button class='pull-right' (click)="removeFilterDoctors($event)">
							Clear Filter
						</button>
						<ion-badge style='margin-top: 20px;' *ngIf="doctorName !== undefined" item-end>{{doctorName}}</ion-badge>
					</div>
				</ion-col> -->

			</ion-row>

		</ion-col>
	</ion-row>

	<div *ngIf="!isListView">

		<iq-calendar-week-hours-view [viewDate]="viewDate" [events]="events" [excludeDays]="excludeDays" [hourSegments]="2" [dayStartHour]="9"
		 [dayEndHour]="21" (eventClicked)="handleEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)"
		 [weekStartsOn]="1" [refresh]="refresh" [locale]="locale">
		</iq-calendar-week-hours-view>

	</div>
	<div *ngIf="isListView">
		<ion-grid>
			<ion-row class="grid-row">
				<ion-col>
					<b>Cita</b>
				</ion-col>
				<ion-col>
					<b>Paciente</b>
				</ion-col>
				<ion-col>
					<b>razón</b>
				</ion-col>
			</ion-row>
			<ion-row class="grid-row" *ngFor="let data of listevents">
				<ion-col>
					{{data.time}}
				</ion-col>
				<ion-col>
					{{data.patientName}}
				</ion-col>
				<ion-col>
					{{data.reason}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

</ion-content>