page-modalappointment {

}

.appointment-header .toolbar-background-md{
    background: #004D99;
}
.appointment-header button, .appointment-header .toolbar-title {
    color: #fff;
}

.appointment-btn{
    text-align: center;
    display: block;
}

.appointment-btn button{
    width: auto;
    display: inline-block
}
.rowdata{
    margin-left: 10px !important;
    color: #999 !important;
}

.update-dropdown-select {
    border-bottom: 1px solid #ddd;
    max-width: 100%;
    // float: right;
}

.textarea-readonly .item-inner{
    border-bottom-color: #dedede !important;
  -webkit-box-shadow: inset 0 -1px 0 0 #dedede !important;
  box-shadow: inset 0 -1px 0 0 #dedede !important;

}
.textarea-font{
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    pointer-events: none;
}

